:root {
    --text-color: white;
    --background-color: rgb(58,124,77);
    --secondary-color: white;
    --accent-color: rgb(58,124,77);
    --highlight-color: rgb(19,78,94);
}

.title {
    font-size: 2.5rem;
    color: var(--accent-color);
    text-align: center;

}

.brand-image {
    width: 50px;
    height: auto;
}

nav {
    background-color: var(--background-color);
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    color: var(--text-color);
}

nav a.navbar-brand.brand {
    font-weight: bold;
    color: var(--text-color);
}

.hero {
    background-image: url(../assets/mercadobaja.jpg);
    background-size: cover;  
    background-position: center;
    height: auto;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    position: relative;
}

.hero::before {
    content: '';
    position: absolute;
    background: rgb(46, 97, 60, 0.95);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.hero::after {
    background-image: url(../assets/shape-bg.png);
    background-size: cover;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100%;
}

.hero__container {
   /*  padding-top: 6rem; */
   align-items: center;
}

.hero__title {
    font-size: 3rem;
    font-weight: bold;
    width: 100%;
    color: var(--text-color);
}

.hero__description {
    color: var(--text-color);
}

.hero form {
    padding: 0 !important;
}

.hero form label {
    color: var(--text-color);
}

.form__title {
    font-size: 2rem;
    color: var(--text-color);
}

.form__success {
    font-size: 1.5rem;
    color: var(--text-color);
}

.form__success i {
    color: var(--text-color);
}

.btn-send {
    color: #fff;
    background-color: var(--highlight-color);
    border-color: var(--highlight-color);
    transition: opacity 600ms;
    opacity: 0.85;
}

.btn-send:hover {
    color: white;
    opacity: 1;
}

#name-input, #email-input, #submit {
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,.125);
}

.hero__img {
    position: relative;
    width: 100%;
    top: -150px;
}

.hero__img img{
    object-fit: none;
    position: absolute;
    width: 100%;
    animation: maskAnimation 5s linear infinite;
}

@keyframes maskAnimation{
    0%, 100% {
        transform: translateY(10px);
    }

    50% {
        transform: translateY(-10px);
    }
}

.features {
    background-color: var(--secondary-color);
    text-align: center;
}

.feature__title {
    text-transform: capitalize;
}

.feature__item {
    padding: 20px 15px;
    box-shadow: 0 0 10px #dddde3;
}

.feature__item h4 {
    text-transform: capitalize;
}

.feature__item--icon i {
    font-size: 3rem;
    color: var(--highlight-color);

}

.customer__logo {
    margin: 0;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}

.customer__logo img {
    max-width: 200px;
    margin: 0 auto;
    height: auto;
}


.footer {
    --footer-height: 100px;
    color: var(--text-color);
    width: 100%;
    height: var(--footer-height);
    background-color: var(--background-color);
}

.footer__wrapper {
    height: var(--footer-height);
}


/*******************************/
/***********Media queries*******/
/*******************************/


@media screen and (max-width: 767px) {
    .hero {
        background-image: none;
    }
    .hero__img img{
        display: none;
    }
}